<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @artwork.title %>
</p>

<p>
  <b>Caption:</b>
  <%= @artwork.caption %>
</p>

<p>
  <b>Folio:</b>
  <%= @artwork.folio_id %>
</p>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
