<h1>Listing folios</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @folios.each do |folio| %>
  <tr>
    <td><%= folio.name %></td>
    <td><%= link_to 'Show', folio %></td>
    <td><%= link_to 'Edit', edit_folio_path(folio) %></td>
    <td><%= link_to 'Destroy', folio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Folio', new_folio_path %>
